:root {
  --initial: white;
  --filled: blue;
}
.cal-grid {
  display: flex;
  flex-direction: column;
}

.cal-row {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.cell-container {
  width: 100px;
  height: 100px;
  border: 1px solid #333;
  cursor: pointer;
}

.cell-container--initial {
  background-color: white;
}
